.text{
    font-family: monospace;
}

.title{
    font-size: 30px;
}

.card {
    width: 500px;
    height: fit-content;
    background-color: aliceblue;
    border-radius: 25px;
    border: solid 8px gold;
    margin: 20px;
}

.img1{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/706/706830.png);
    background-size: 100%;
    margin-top: 20px;
}

.img2{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    background-image: url(https://cdn-icons-png.flaticon.com/256/3681/3681928.png);
    background-size: 100%;
    margin-top: 20px;   
}